header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  font-size: 32px;
  line-height: calc(35 / 32);
  color: $primary-color;
  letter-spacing: 0.01em;
}

nav {
  font-family: $secondary-font;

  .nav-menu {
    display: flex;
    gap: 35px;
  }
  .nav-item {
    padding: 46px 0;
    &__link {
      // border-bottom: 3px solid transparent;
      position: relative;
      color: $light-btn-text;
      @extend %transition-color;

      &:active {
        // border-bottom: 3px solid $active-color;
        color: $active-link;
      }
    }

    &__link:hover::after,
    &__link.disabled::after {
      opacity: 1;
    }

    &__link::after {
      content: '';
      position: absolute;
      background-color: $active-color;
      display: block;
      height: 3px;
      width: 100%;
      opacity: 0;
      transition: opacity $transition-duration
        $transition-timing-function;
    }
  }

  .nav-item.disabled {
    pointer-events: none;
    // opacity: 0.5;
  }
}
h1 {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 13px;
  line-height: 14.95px;
  letter-spacing: 0.06em;
}
