.hero {
  height: 908px;

  background: url(../assets/images/noise_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;

  .hero-wrapper {
    background-image: url('../assets/images/start-screen-puppy.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 698px;
    height: 908px;
    // padding-top: 50px;
  }

  &-text {
    width: 460px;
    padding-top: 343px;
  }
  &-header {
    margin-bottom: 42px;
    color: $main-color;
  }
  &-description {
    margin-bottom: 42px;
    color: $light-btn-text;
  }
}
