.about {
  .wrapper {
    display: flex;
    gap: 120px;
    padding-left: 175px;
    padding-right: 175px;
  }
  &-image {
    width: 100%;
  }
  &-header {
    width: 370px;
  }
  &-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
  }
}
