footer {
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(
      110.67% 538.64% at 5.73% 50%,
      #513d2f 0%,
      #1a1a1c 100%
    ),
    #211f20;

  .footer-wrapper {
    margin: 0 auto;
    padding: 30px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    // font-family: 'Georgia';
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      gap: 0;
      padding: 40px 40px 0;
    }
    @media screen and (min-width: $desktop) {
      max-width: 1280px;
    }
  }

  address {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;

    @media screen and (min-width: $tablet) {
      width: 73%;
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      margin-top: 16px;
      text-align: left;
    }

    a p {
      @extend %transition-color;
    }

    a:hover p {
      color: $active-link;
    }

    .address-headers-text {
      width: 80%;
      margin: 0 auto;
      font-family: $main-font;
      // font-size: 3.5rem;
      // line-height: calc(45 / 35);
      letter-spacing: 0.06em;
      font-weight: normal;
      font-style: normal;
      color: $main-color;
      @media screen and (min-width: $tablet) {
        max-width: 280px;
      }
    }

    .address-text {
      // max-width: 260px;
      font-family: $main-font;
      font-size: 2rem;
      line-height: calc(23 / 20);
      letter-spacing: 0.06em;
      font-weight: normal;
      font-style: normal;
      color: $primary-color;
    }

    .left-side {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      gap: 46px;
    }
    .right-side {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
    }

    .email-link,
    .phone-link,
    .address-link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}
