header {
  width: 100%;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  padding-top: 30px;
  font-size: 3.2rem;
  line-height: calc(35 / 32);
  color: $primary-color;
  letter-spacing: 0.06em;
  @extend %transition-color;

  &:hover {
    color: $light-bg;
  }

  .logo-name {
    display: inline-block;
    margin-bottom: 10px;
  }

  .header-name {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: calc(15 / 13);
    letter-spacing: 0.1em;
    @extend %transition-color;
    &:hover {
      color: $active-color;
    }
  }

  .header-name__main {
    color: $main-color;
  }
}

nav {
  display: none;
  font-family: $secondary-font;

  .nav-menu {
    display: flex;
    gap: 35px;
  }
  .nav-item {
    padding: 46px 0;
    &__link {
      position: relative;
      color: $light-btn-text;
      @extend %transition-color;

      &:active {
        color: $active-link;
      }
    }

    &__link:hover::after,
    &__link.disabled::after {
      opacity: 1;
    }
    &__link:hover,
    &__link.disabled {
      color: $active-link;
    }

    &__link::after {
      content: '';
      position: absolute;
      background-color: $active-color;
      display: block;
      height: 3px;
      width: 100%;
      opacity: 0;
      transition: opacity $transition-duration
          $transition-timing-function,
        color $transition-duration $transition-timing-function;
    }
  }

  .nav-item.disabled {
    pointer-events: none;
  }
}
