.help {
  &-container {
    //   display: flex;
    padding-right: 15px;
    padding-left: 15px;

    @media screen and (min-width: $tablet) {
      padding-right: 69px;
      padding-left: 69px;
    }

    @media screen and (min-width: $desktop) {
      padding-right: 127px;
      padding-left: 127px;
    }
  }

  &-header {
    margin-bottom: 42px;
    text-align: center;
    @media screen and (min-width: $tablet) {
      margin-bottom: 60px;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &-list {
    // display: flex;
    // flex-wrap: wrap;
    // max-width: 290px;
    // justify-content: space-between;
    // gap: 30px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    justify-items: center;
    white-space: nowrap;

    @media screen and (min-width: 450px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: $tablet) {
      grid-row-gap: 55px;
      grid-column-gap: 65px;
      // row-gap: 58px;
      // column-gap: 120px;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-items: center;
      grid-column-gap: 119px;
      // padding: 0 127px;
      // grid-template-columns: repeat(5, 1fr);
    }
  }

  &-item {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media screen and (min-width: $tablet) {
      gap: 30px;
    }
    // @media screen and (min-width: $desktop) {
    //   width: fit-content;
    // }

    &:last-of-type {
      align-self: flex-start;
    }

    & svg {
      height: 50px;
      @media screen and (min-width: $tablet) {
        height: 60px;
      }
    }
  }
}
