@font-face {
  font-family: 'Arial Narrow';
  src: url('../assets/fonts/ArialNarrow-Bold.woff2') format('woff2'),
    url('../assets/fonts/ArialNarrow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('../assets/fonts/ArialNarrow-BoldItalic.woff2')
      format('woff2'),
    url('../assets/fonts/ArialNarrow-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('../assets/fonts/ArialNarrow.woff2') format('woff2'),
    url('../assets/fonts/ArialNarrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/Arial-Black.woff2') format('woff2'),
    url('../assets/fonts/Arial-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('../assets/fonts/ArialNarrow-Italic.woff2') format('woff2'),
    url('../assets/fonts/ArialNarrow-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/Arial-ItalicMT.woff2') format('woff2'),
    url('../assets/fonts/Arial-ItalicMT.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/Arial-BoldMT.woff2') format('woff2'),
    url('../assets/fonts/Arial-BoldMT.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/Arial-BoldItalicMT.woff2') format('woff2'),
    url('../assets/fonts/Arial-BoldItalicMT.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/ArialMT.woff2') format('woff2'),
    url('../assets/fonts/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('../assets/fonts/Georgia-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/Georgia-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('../assets/fonts/Georgia-Italic.woff2') format('woff2'),
    url('../assets/fonts/Georgia-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('../assets/fonts/Georgia.woff2') format('woff2'),
    url('../assets/fonts/Georgia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('../assets/fonts/Georgia-Bold.woff2') format('woff2'),
    url('../assets/fonts/Georgia-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
