// Colors
$light-bg: #f6f6f6;
$dark-bg: #211f20;
$main-color: #ffffff;
$hover-btn: #fddcc4;
$primary-color: #f1cdb3;
$active-color: #f1cdb3;
$active-link: #fafafa;
$dark-headers-color: #545454;
$dark-text-color: #4c4c4c;
$dark-btn-text: #292929;
$light-btn-text: #cdcdcd;
$paragraph-s: #b2b2b2;

// Fonts
$main-font: 'Georgia';
$secondary-font: 'Arial';

// Transition
$transition-duration: 300ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// Media-queries screen sizes

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
