.btn {
  display: inline-block;
  padding: 15px 45px;
  font-size: 17px;
  font-family: $main-font;
  font-weight: 400;
  // line-height: calc(20 / 15);
  outline: none;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 100px;
  cursor: pointer;

  // @media screen and (min-width: 768px) {
  //   font-size: 16px;
  //   font-weight: 400;
  //   line-height: calc(20 / 16);
  //   border: 2px solid $orange;
  // }

  @extend %transition;

  &:hover,
  &:focus {
    background-color: $hover-btn;
  }

  &:active {
    background-color: $main-color;
  }

  &:disabled {
    // background-color: none;
    // color: lightslategray;
    // border: 1px solid lightslategray;
    cursor: default;
    @extend %transition;
  }
}
