@font-face {
  font-family: "Arial Narrow";
  src: url("../assets/fonts/ArialNarrow-Bold.woff2") format("woff2"), url("../assets/fonts/ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../assets/fonts/ArialNarrow-BoldItalic.woff2") format("woff2"), url("../assets/fonts/ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../assets/fonts/ArialNarrow.woff2") format("woff2"), url("../assets/fonts/ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/Arial-Black.woff2") format("woff2"), url("../assets/fonts/Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../assets/fonts/ArialNarrow-Italic.woff2") format("woff2"), url("../assets/fonts/ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/Arial-ItalicMT.woff2") format("woff2"), url("../assets/fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/Arial-BoldMT.woff2") format("woff2"), url("../assets/fonts/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/Arial-BoldItalicMT.woff2") format("woff2"), url("../assets/fonts/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/ArialMT.woff2") format("woff2"), url("../assets/fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia-Italic.woff2") format("woff2"), url("../assets/fonts/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia.woff2") format("woff2"), url("../assets/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia-Bold.woff2") format("woff2"), url("../assets/fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
h2 {
  font-size: 44px;
  line-height: 1.2954545455;
  font-weight: normal;
  color: #545454;
}

h3 {
  font-size: 35px;
  line-height: 1.2857142857;
  letter-spacing: 0.06em;
  font-weight: normal;
  color: #545454;
}

h4 {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  font-weight: normal;
  color: #545454;
}

h5 {
  font-size: 15px;
  line-height: 1.1333333333;
  letter-spacing: 0.06em;
  font-weight: normal;
  color: #545454;
}

.btn:disabled, .btn {
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

nav .nav-item__link {
  transition: color 300ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

body.noscroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  height: auto;
}

.paragraph-s {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #b2b2b2;
}

.btn {
  display: inline-block;
  padding: 15px 45px;
  font-size: 17px;
  font-family: "Georgia";
  font-weight: 400;
  outline: none;
  background-color: #f1cdb3;
  border: 1px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background-color: #fddcc4;
}
.btn.transparent {
  background-color: #ffffff;
}
.btn:disabled {
  cursor: default;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  line-height: 1.09375;
  color: #f1cdb3;
  letter-spacing: 0.01em;
}

nav {
  font-family: "Arial";
}
nav .nav-menu {
  display: flex;
  gap: 35px;
}
nav .nav-item {
  padding: 46px 0;
}
nav .nav-item__link {
  border-bottom: 3px solid transparent;
  color: #cdcdcd;
}
nav .nav-item__link:active {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
}

h1 {
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  line-height: 14.95px;
  letter-spacing: 0.06em;
}

section.hero {
  padding: 0;
}

.hero {
  height: 908px;
  background: url(../assets/images/noise_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.hero .hero-wrapper {
  background-image: url("../assets/images/start-screen-puppy.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 698px;
  height: 908px;
}
.hero-text {
  width: 460px;
  padding-top: 343px;
}
.hero-header {
  margin-bottom: 42px;
  color: #ffffff;
}
.hero-description {
  margin-bottom: 42px;
  color: #cdcdcd;
}

.about .wrapper {
  display: flex;
  gap: 120px;
  padding-left: 175px;
  padding-right: 175px;
}
.about-image {
  width: 100%;
}
.about-header {
  width: 370px;
}
.about-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.our-friends {
  background-color: #f6f6f6;
}
.our-friends .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  text-align: center;
}
.our-friends__slider {
  position: relative;
}
.our-friends__slider .prev,
.our-friends__slider .next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #f1cdb3;
  outline: none;
  cursor: pointer;
}
.our-friends__slider .prev {
  left: 0;
}
.our-friends__slider .next {
  right: 0;
  transform: rotate(-180deg);
}
.our-friends__slider .icon {
  display: block;
  border-radius: 50%;
  fill: #292929;
}
.our-friends-list {
  width: 1200px;
  display: flex;
  justify-content: center;
  gap: 90px;
}
.our-friends-item {
  width: 270px;
  height: 100%;
  border-radius: 9px;
  background-color: #fafafa;
  box-shadow: none;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, background-color 300ms ease-in-out;
}
.our-friends-item:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.our-friends-image {
  width: 270px;
  height: 270px;
  overflow: hidden;
  margin-bottom: 30px;
}
.our-friends .pet-name {
  display: block;
  font-family: "Georgia";
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.our-friends .btn__learn-more {
  margin-bottom: 30px;
  transition: background-color 300ms ease-in-out;
}
.our-friends .btn__learn-more:hover {
  background-color: #fddcc4;
}

.help-header {
  margin-bottom: 60px;
  text-align: center;
}
.help-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 58px;
  column-gap: 120px;
}
.help-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.in-addition {
  background-color: #f6f6f6;
}
.in-addition-container {
  display: flex;
  max-width: 915px;
  gap: 30px;
  padding-left: 0;
  padding-right: 0;
}
.in-addition-header {
  max-width: 300px;
}
.in-addition-header + p {
  color: #545454;
}
.in-addition__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.in-addition .card-number {
  width: 350px;
  padding: 10px 15px;
  background: #f1cdb3;
  border-radius: 9px;
  position: relative;
}
.in-addition .card-number h4 {
  position: relative;
  left: 45px;
  color: #545454;
}
.in-addition .card-number::before {
  position: absolute;
  content: url(../assets/icons/credit-card.svg);
  height: 23px;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
}

footer {
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}
footer .footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 40px 0;
}
footer .footer-container {
  background-image: url("../assets/images/footer-puppy.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 300px;
  height: 310px;
}
footer address {
  display: flex;
}
footer address h3 {
  font-style: normal;
  color: #ffffff;
}
footer address h4 {
  font-style: normal;
  color: #f1cdb3;
}
footer address .left-side {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
footer address .left-side .email-link,
footer address .left-side .phone-link {
  position: relative;
}
footer address .left-side .email,
footer address .left-side .phone {
  position: relative;
  left: 60px;
}
footer address .left-side .email-link::before {
  position: absolute;
  content: url(../assets/icons/mail.svg);
  top: 50%;
  left: 0;
  height: 26px;
  transform: translateY(-50%);
}
footer address .left-side .phone-link::before {
  position: absolute;
  content: url(../assets/icons/phone.svg);
  top: 50%;
  left: 0;
  height: 32px;
  transform: translateY(-50%);
}
footer address .right-side {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer address .right-side .address-link {
  position: relative;
}
footer address .right-side .address {
  position: relative;
  left: 42px;
}
footer address .right-side .address-link::before {
  position: absolute;
  content: url(../assets/icons/pin.svg);
  top: 50%;
  left: 0;
  height: 32px;
  transform: translateY(-50%);
}/*# sourceMappingURL=main.css.map */