.pets-header {
  width: 100%;

  .logo-pets {
    color: $dark-headers-color;

    @media screen and (max-width: $tablet) {
      padding-bottom: 30px;
      padding-top: 30px;
    }

    &:hover {
      color: $active-color;
    }

    .header-name__pets {
      color: $dark-btn-text;
      @media screen and (min-width: $tablet) {
        text-align: center;
      }
    }
  }

  nav {
    .nav-item {
      &__link {
        color: $dark-headers-color;
      }

      &__link:hover,
      &__link.disabled {
        color: $dark-btn-text;
      }
    }
  }

  .burger-pets {
    stroke: #000000;
  }
}
