.our-friends.pets-page {
  padding-top: 42px;

  @media screen and (min-width: $tablet) {
    padding-top: 80px;
    padding-bottom: 76px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 85px;
    padding-bottom: 100px;
  }

  .our-friends-container {
    @media screen and (min-width: $tablet) {
      gap: 30px;
    }
    @media screen and (min-width: $desktop) {
      gap: 60px;
    }
  }

  .our-friends__slider {
    margin-bottom: 42px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 10px;
      min-width: 56%;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
    }

    .icon {
      display: block;
      border-radius: 50%;
      fill: $dark-btn-text;
    }

    .arrow-right {
      transform: rotate(-180deg);
    }

    .our-friends__pets:nth-child(1n + 4) {
      display: none;
      @media screen and (min-width: $tablet) {
        display: block;
      }
    }

    .our-friends-item:nth-child(1n + 7) {
      @media screen and (min-width: $tablet) {
        display: none;
      }
      @media screen and (min-width: $desktop) {
        display: block;
      }
    }

    .our-friends-item:nth-child(1n + 10) {
      @media screen and (min-width: $desktop) {
        display: none;
      }
    }
  }

  .our-friends__slider.pets-page {
    width: 100%;
  }

  .our-friends-list.pets-page {
    flex-wrap: wrap;

    @media screen and (min-width: 570px) {
      justify-content: space-evenly;
    }

    @media screen and (max-width: 767px) {
      row-gap: 31px;
    }

    @media screen and (min-width: $tablet) {
      justify-content: space-evenly;
      row-gap: 30px;
      // max-width: 93%;
    }
    @media screen and (min-width: $desktop) {
      justify-content: space-between;
      gap: 30px 40px;
      max-width: 100%;
    }
  }

  // .our-friends-item {
  //   display: none;
  //   @media screen and (min-width: $desktop) {
  //     display: block;
  //   }
  // }

  // .our-friends-item:nth-child(-n + 6) {
  //   @media screen and (min-width: $tablet) {
  //     display: block;
  //   }
  // }

  .our-friends__pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    @media screen and (min-width: $tablet) {
      gap: 20px;
    }

    .pagination-btn {
      padding: 0;
      width: 52px;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.06em;
      border-width: 2px;
      @extend %h4;
      transition: background-color $transition-duration
          $transition-timing-function,
        border-color $transition-duration $transition-timing-function;

      &:hover {
        background-color: $hover-btn;
        border-color: $hover-btn;
      }

      &:disabled {
        background-color: transparent;
        border: 2px solid $light-btn-text;
        pointer-events: none;
        cursor: default;
      }

      &:disabled > svg {
        fill: $light-btn-text;
      }

      &__active {
        color: $dark-btn-text;
        background-color: $active-color;
        pointer-events: none;
        cursor: default;
      }

      &__next,
      &__last,
      &__prev,
      &__first {
        background-color: transparent;
        border: 2px solid $primary-color;
      }

      .pagination-btn > svg {
        fill: $dark-btn-text;
      }
    }
  }
}
